nav{
    text-align: center;
    height: 20px;
    background-color: #398023;
    
}
header{
    padding-top: 10px;
}
#wrapper{
    background-color:#FAFAD2;
    width:1450px;
    height: 1000px;
    
    
}
h1{
    font-size: 50px;
}
#numbers_input{
    border:3px; 
    border-style: solid;  
    border-color:darkgreen;
    width:700px;
}
h2{
font-family: 'Bitter', serif, courier;
}
body{
    font-family: 'Bitter', serif, courier;
    text-align: left;

}
#formula{
    padding-top: 60px;
    font-size: 30px;
}
#about{
    font-family:'Bitter', serif, courier;
    text-align:left;
    padding-top: 10px;
}
button{
background-color: #4CAF50;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
    color:black;
}
footer{
    color: white;
    font-size: 16px;
    background-color: #398023;
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}