
{% block header %}
  <h1>{% block title %}Import Data{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" style="font-family:courier;" >
    <label for="dataPath">Data Path:</label>
    <!--    <input name="dataPath" id="dataPath" required> -->
    <select class="form-control" id="dataPath" name="dataPath">
        <option value="drug_exposure_concept_preprocessed.csv">drug_exposure_concept_preprocessed.csv</option>	
        <option value="drug_exposure_concept_preprocessed_concepts_only.csv">drug_exposure_concept_preprocessed_concepts_only.csv</option>	
        <option value="pre-processed2.csv">pre-processed2.csv</option>	

    </select></br>
  <p style="border:3px; border-style: solid;  border-color:#FFA07A; ">
    <label for="clusteringMethod">Fault Clustering Method:</label></br>
    <label>K-prototypes</label><input type="checkbox" name="clustering" value="kprototypes" checked/> </br>
    <label>Self Organizing Map</label><input type="checkbox" name="clustering" value="som"/> </br>
  </p>

    <p style="border:3px; border-style: solid;  border-color:#FFA07A; ">
    <label for="interpretationMethod">Fault Interpretation Method:</label></br>
    <label>Random Forest</label><input type="checkbox" name="interpretation" value="H2o Random Forest" checked/> </br>
    <label>Gradient Boosting</label><input type="checkbox" name="interpretation" value="H2o Gradient Boosting"/> </br>   
    <!--<label>Sklearn Random Forest</label> <input type="checkbox" name="interpretation" value="Sklearn Random Forest"/> </br>
    <label>Sklearn Decision Tree</label> <input type="checkbox" name="interpretation" value="Sklearn Decision Tree"/> </br> -->
  </p>

    <input type="submit" value="import">


  </form>

{% endblock %}
