
{% block header %}
  <h1>{% block title %}Import Data{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="dataPath">Data Path:</label>
    <!--    <input name="dataPath" id="dataPath" required> -->
    <select class="form-control" id="dataPath" name="dataPath">
        <option value="measurement_person_100_3_17.csv">measurement_person_100_3_17.csv</option>
        <option value="measurement_1000.csv">measurement_1000.csv</option>
        <option value="heart.csv">heart.csv</option>
        <option value="breast_cancer.csv">breast_cancer.csv</option>
        <option value="measurement_person_1000_3_17.csv">measurement_person_1000_3_17.csv</option>
        <option value="observation_observation_period_100_5_5.csv">observation_observation_period_100_5_5.csv</option>	
        <option value="observation_observation_period_1000_50_50.csv">observation_observation_period_1000_50_50.csv</option>	
        <option value="observation_observation_period_10000_500_500.csv">observation_observation_period_10000_322_404.csv</option>	
        <option value="drug_exposure_observation_period_10000_500_500.csv">drug_exposure_observation_period_10000_500_500.csv</option>	
        <option value="observation_observation_period_clean.csv">observation_observation_period_clean.csv</option>	
        <option value="measurement-person_10000.csv">measurement-person_10000.csv</option>	
        <option value="observation-person10000.csv">observation-person10000.csv</option>	
        <option value="drug_exposure-person_10000.csv">drug_exposure-person_10000.csv</option>	
        <option value="death-person_1871.csv">death-person_1871.csv</option>	

    </select>
    <input type="submit" value="import">
  </form>

{% endblock %}
