{% block header %}
  <h1>{% block title %}Faulty Records{% endblock %}</h1>
  <link rel="stylesheet" type="text/css" href="style.css">
{% endblock %}

{% block content %}
  <form method="post" style="font-family:courier;">
  <p style=>
  <label for="description"> Please select the groups that are actually faulty. </br> Press revalidate to improve the fault detection approach. </br> </label>
  </p>
 
  <p style="border:3px; border-style: solid;  border-color:#FFA07A; ">
    <label for="numberOfClusters">Number of groups:</label>
    <input name="numberOfClusters" id="numberOfClusters" value="{{numberOfClusters}}"/>
    </br>
    {%for item in data.split('@')%}
	    <label for="group">Group_{{loop.index0}}</label>
	    <input type="checkbox" name="Group" value="{{loop.index0}}"/> </br>
	    <img src='{{fig_urls[loop.index0]}}'  style="width:300px;height:300px;"></img></br>
	    <img src='{{cluster_dt_url[loop.index0]}}'  style="width:300px;height:300px;"></img></br>
	    <label for="cluster">{{cluster_interpretation[loop.index0]}}</label></br>
	    {{ item | safe }}</br>
    {% endfor %}
    <input type="submit" name="revalidate" value="revalidate">
    </br>
  </p>
  <p style="border:3px; border-style: solid;  border-color:#F08080; ">
    <label for="knownFaults">Known Faults:</label>    
    <select class="form-control" id="knownFaults" name="knownFaults">
    	    <option value="none">None</option>
    	    <option value="murdock_measurement_person.csv">murdock_measurement_person.csv</option>
    </select>

    <input type="submit" name="evaluation" value="evaluation">
  </p>
  </form>
{% endblock %}
