
{% block header %}
  <h1>{% block title %}Faulty Records{% endblock %}</h1>
{% endblock %}

{% block content %}
  <label for="description"> Please select the groups that are actually faulty. </br> Press revalidate to improve the fault detection approach. </br> </label>
  </br>
  </br>
  <form method="post">
    <label for="numberOfClusters">Number of groups:</label>
    <input name="numberOfClusters" id="numberOfClusters" value="{{numberOfClusters}}"/>
    </br>
    {% for item in data.split('@') %}
    <label for="group">Group_{{loop.index0}}</label>
    <input type="checkbox" name="Group" value="{{loop.index0}}"/>
        {{ item | safe }}
    {% endfor %}
    <input type="submit" name="revalidate" value="revalidate">
  </form>
    <label for="scores">True/False Positive Rates: </label>
    {{score | safe}}

{% endblock %}
